.git
.github
.gitignore
docs
*.md
!README.md

src/vendor
src/node_modules
src/.env
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/public/build
src/public/storage
src/.phpunit.result.cache

.env
docker-compose.override.yml
tests
azure-pipelines.yml
Makefile
PLAN.md
CLAUDE.md
